<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHAT</title>
    <link rel="stylesheet" href="./css/chat.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="name">
        <span class="name1">ChatBot by</span><span class="black"> AZHA</span
        ><span class="yellow">BOT</span>
      </h1>
      <img src="./images/chats.svg" class="chats" alt="" />
      <div class="chatBox">
        <input type="text" placeholder="Enter a question" class="input" />
        <span class="btn">SEND</span>
      </div>
    </div>
  </body>
</html>
